# VS files
*.suo
*.user
*.obj
*.pdb
*.log
*.tlog
*.pch

# Visual Studio 2017 cache/options directory
.vs/

# Intermediate directory
int

# Includes of 3rd parties
include/boost/
include/openssl/
include/sqlite/